/* nunito-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/nunito-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/nunito-v32-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/nunito-v32-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/nunito-v32-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/nunito-v32-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body { 
  height:100vh;
  font-family: 'Nunito', sans-serif;
  background:#FAF9F9;
}

:root {
  /* Neutral */

  --neutral-900:#163A34;
  --neutral-600:#395852;
  --neutral-300:#D0DCD9;
  --neutral-200:#E0E6E3;
  --neutral-100:#F6F5F1;
  --neutral-0:#FFFFFF;

  /* Orange */

  --orange-500: #FE9F6B;
  
  /* Teal */

  --teal-500:#49AC9B;

  /* Indigo */ 

  --indigo-500: #697DDB;


  /* FONT SIZES */ 

  --fs-72: calc(72 / 16 * 1rem);
  --fs-64: calc(64 / 16 * 1rem);
  --fs-52: calc(52 / 16 * 1rem);
  --fs-48: calc(48 / 16 * 1rem);
  --fs-40: calc(40 / 16 * 1rem);
  --fs-32: calc(32 / 16 * 1rem);
  --fs-24: calc(24 / 16 * 1rem);
  --fs-20: calc(20 / 16 * 1rem);
  --fs-18: calc(18 / 16 * 1rem);
  --fs-16: calc(16 / 16 * 1rem);
  --fs-14: calc(14 / 16 * 1rem);





}

.about-wrapper { 
    padding:80px 100px;
    width:100%;
    border-bottom:1px solid var(--neutral-300);
}

.top-about-container { 
    max-width:1120px;
    margin:0 auto;
    display:flex;
    gap:64px;
    
}

.about-text-section { 
    padding:80px 0;
}

.about-text-section p:first-child { 
    margin-bottom:24px;
    display:inline-block;
    color:var(--neutral-900);
    font-size:var(--fs-20);
    font-weight:600;
    background:var(--orange-500);
    padding:2px 6px;
    border-radius:6px;

}

.about-text-section h3{ 
    color:var(--neutral-900);
    font-size:var(--fs-48);
    font-weight:600;
    margin-bottom:24px;

}

.about-text-section p:last-child { 
    color:var(--neutral-900);
    font-size:var(--fs-20);
    font-weight:500;

}

.top-about-container img{ 
    border-radius:8px;
    width:618px;
    height:600px;
}

.top-about-middle-wrapper { 
    padding:96px 100px;
    width:100%;
    border-bottom:1px solid var(--neutral-300);
}

.top-about-middle-container { 
    max-width:1120px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    gap:64px;

}

.top-about-middle-flex-left h1{ 
    color:var(--neutral-900);
    font-size:var(--fs-48);
    font-weight:600;
}

.top-about-middle-text-container { 
    display:flex;
    flex-direction:column;
    
}

.top-about-middle-text-container p:first-child { 
    color:var(--neutral-900);
    font-size:var(--fs-24);
    font-weight:600;
    margin-bottom:12px;

}

.top-about-middle-flex-right { 
    display:flex;
    flex-direction:column;
    width:50%;
    gap:48px;
}

.top-about-middle-text-container p:last-child { 
    color:var(--neutral-900);
    font-size:var(--fs-20);
    font-weight:500;
}

.top-about-middle-flex-right-container { 
    display:flex;
}

.arrow-container { 
    margin-right: 20px;
}

.bottom-about-middle-wrapper { 
    padding:96px 100px;
    width:100%;
    border-bottom:1px solid var(--neutral-300);
}

.bottom-about-middle-container { 
    max-width:1120px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    gap:64px;

}

.bottom-about-middle-flex-left h1{ 
    color:var(--neutral-900);
    font-size:var(--fs-48);
    font-weight:600;
}

.bottom-about-middle-text-container { 
    display:flex;
    flex-direction:column;
    
}

.bottom-about-middle-text-container p:first-child { 
    color:var(--neutral-900);
    font-size:var(--fs-24);
    font-weight:600;
    margin-bottom:12px;

}

.bottom-about-middle-flex-right { 
    display:flex;
    flex-direction:column;
    width:50%;
    gap:48px;
}

.bottom-about-middle-text-container p:last-child { 
    color:var(--neutral-900);
    font-size:var(--fs-20);
    font-weight:500;
}

.bottom-about-middle-flex-right-container { 
    display:flex;
}

.mission-wrapper { 
    padding:96px 100px;
    width:100%;
}

.mission-container { 
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width:1120px;
    margin:0 auto;
    gap:64px;
}

.mission-flex-left h1 { 
    font-size:var(--fs-40);
    color:var(--neutral-900);
    font-weight:600;
    margin-bottom:20px;
}

.mission-flex-left p { 
    font-size:var(--fs-20);
    color:var(--neutral-900);
    margin-bottom:12px;
}

.mission-flex-left ul li{ 
    font-size:var(--fs-20);
    color:var(--neutral-900);
}

.mission-img-container img{ 
    border-radius:8px;
}
.image-and-text-container { 
  background:#EBEDE8;
  display:flex;
  align-items:center;
  border-radius:12px;
  max-width:1120px;
  margin:0 auto;
}

.bottom-section-text { 
  display:flex;
  flex-direction:column;
  align-items:center;
}

.bottom-section-text h1 { 
  font-size:var(--fs-40);
  color:var(--neutral-900);
  margin-bottom:20px;
}

.bottom-section-text p { 
  font-size:var(--fs-18);
  margin-bottom:20px;
}

.footer-bottom { 
  width:100%;
  max-width:1150px;
  padding:40px 0;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
}

.links { 
  display:flex;
  gap:10px;
}